<div class="center card card-outline-primary whiteColor"><strong><h3>Manage Suppliers</h3></strong></div>

<div class="input-group card paddingLR10 card-outline-primary center">
        <span class="input-group-btn paddingLR10 glyphicon glyphicon-search whiteColor"></span>
    <input type="text" ng-model="adminSearchWarehouse" class="form-control" placeholder="Search Warehouse">
</div>

<div class="row card marginLR5" ng-repeat="state in ['Illinois', 'New York', 'California'] | filter:adminSearchWarehouse">
<div class="center bg-primary padding10">
  <strong><h4>{{ state }}</h4></strong>
    <a class="glyphicon glyphicon-edit orangeColor" href="#/admin/warehouses" ng-click="enableCustomerInfoEditor()"/>
</div>

  <div class="row marginLR5">
      <div class="col-md-6">
        <p><strong><h4>Supplier name: Grocery Suppliers</h4></strong></p>
      </div>
      <div class="col-md-6">
        <p><strong><h4>Address</h4></strong></p>
        <address>
          <!-- <strong>{{ fName }} {{ lName }}</strong><br>
          {{ addressL1 }}<br>
          {{ addressL1 }}<br>
          {{ city }}, {{ state }} {{ zip }}<br> -->
          2901 S King Drive<br>
          Chicago, IL 60616<br>
        </address>
      </div>
  </div>
        <!-- <div class="card" >
      <img class="card-img-top" src="images/yeoman.png" alt="Product">
      <div class="card-block">
        <h4 class="card-title">Product {{ itemsRow }}</h4>
        <h5 class="card-text">Test</h5>
        <a ng-href="#/admin/products/1" class="glyphicon glyphicon-edit orangeColor"/>
      </div>
  </div> -->
</div>