<div class="center card card-outline-blue whiteColor"><strong><h3>New Product</h3></strong></div>

<!-- <ng-include src="'views/carousel.html'"> </ng-include> -->
<div class="card">

<div class="row">
    
    <div class="col-md-5">
        <img class="card-image customHeight250 center-block" src="images/yeoman.png" alt="Product">
    </div>

    <div class="col-md-5 ">

    <form class="form" ng-submit="register()" accept-charset="UTF-8">

        <div class="form-group has-feedback">
          <div class="input-group">
                <span class="input-group-addon ">Product Name</i></span>
            <input type="text" class="form-control" placeholder="Name" ng-model="product.prodName" maxlength="100" required/>
          </div>
        </div>

		<div class="form-group has-feedback">
          <div class="input-group">
                <span class="input-group-addon ">Product Image URL</i></span>
            <input type="text" class="form-control" placeholder="Image URL" ng-model="product.ProdImage" maxlength="100" required/>
          </div>
        </div>
        
        <div class="form-group has-feedback">
          <div class="input-group">
                <span class="input-group-addon">Product Category</i></span>
                <select ng-model="product.prodType" class="form-control" ng-options="y for (x, y) in ['Vegetables', 'Beverages', 'Spices']">
                </select>          
            </div>
        </div>
        
        <div class="form-group has-feedback">
          <div class="input-group">
                <span class="input-group-addon ">$</i></span>
            <input type="number" class="form-control" placeholder="Price" ng-model="product.ProdPrice" maxlength="100" required/>
          </div>
        </div>
        
        <div class="form-group has-feedback">
          <div class="input-group">
                <span class="input-group-addon ">Quantity</i></span>
            <input type="number" class="form-control" placeholder="Quantity" ng-model="warehouse.qty" maxlength="100" required/>
          </div>
        </div>
                
        <div class="form-group has-feedback">
          <div class="input-group">
                <span class="input-group-addon ">Product Size</i></span>
            <input type="number" class="form-control" placeholder="Size" ng-model="product.ProdSize" maxlength="100" required/>
          </div>
        </div>


        <div class="form-group has-feedback">
          <div class="input-group">
                <span class="input-group-addon">Warehouse</i></span>
                <select ng-model="product.ProdState" class="form-control" ng-options="y for (x, y) in ['IL', 'NY', 'CA']">
                </select>   
          </div>
          </div>
          
          <div class="form-group has-feedback">
          <div class="input-group">
                <span class="input-group-addon ">Product Description</i></span>
                <textarea placeholder="Description" ng-model="product.ProdInfo"></textarea>
          </div>
        </div>
        
    </form>
    
    <button class="btn btn-primary" type="submit" ng-click="createProduct()" 
    	ng-disabled="!product.prodName || !product.prodType || !product.ProdPrice ||
    				!product.ProdImage || !product.ProdSize ||
    				!product.ProdState">Create</button><br><br>
    
    </div>
</div>


</div>