<div class="center card card-outline-primary whiteColor"><strong><h3>Manage Products</h3></strong></div>

<div class="input-group card paddingLR10 card-outline-primary center">
        <span class="input-group-btn paddingLR10 glyphicon glyphicon-search whiteColor"></span>
    <input type="text" ng-model="adminSearchProducts" class="form-control" placeholder="Search Products">
</div>

<div class="center">
  <div class="col-md-3" ng-repeat=" product in products | filter:adminSearchProducts">
    <div class="card" >
      <img class="card-img-top" src="images/yeoman.png" alt="Product">
      <div class="card-block">
        <h4 class="card-title">{{product.prodName}}</h4>
        <h5 class="card-text">{{product.prodType}}</h5>        
        <h4 class="card-text">${{product.ProdPrice}}</h4>
        <a ng-href="#/admin/products/1" ng-click="displayProductInfo(product)" class="glyphicon glyphicon-edit orangeColor"/>
      </div>
 </div> 
</div> 
</div>