<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- <div ng-controller="AdminNavSideMenuCtrl"> -->
<div class="nav-side-menu">
    <img src="images/yeoman.png" class="center-block">
      <div class="brand">Online Grocery Store
        <div class="center-block">
          Admin
        </div>
    </div>
    
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#/admin/products">
                  <i class="fa fa-dashboard fa-lg"></i> Manage Products
                  </a>
                </li>

               <li>
                <a href="#/admin/orders">
                <i class="fa fa-dashboard fa-lg"></i> Manage Orders
                </a>
               </li> 

                <li>
                  <a href="#/admin/warehouses"> 
                  <i class="fa fa-dashboard fa-lg"></i> Manage Warehouse Supplies
                  </a>
                </li>
                
                <li>
                  <a href="#/admin/suppliers"> 
                  <i class="fa fa-dashboard fa-lg"></i> Manage Suppliers
                  </a>
                </li>

                <li>
                  <a href="#/admin/account-info">
                  <i class="fa fa-user fa-lg"></i> Account Settings
                  </a>
                </li>

                <li>
                  <a href="#/login">
                  <i class="fa fa-users fa-lg"></i> Logout
                  </a>
                </li>
            </ul>
     </div>
</div>
<!-- </div> -->