<div class="center card card-outline-blue whiteColor"><strong><h3>Popular Products</h3></strong></div>
<ng-include src="'views/carousel.html'"></ng-include>
<!-- <div ng-model="searchProduct" ng-include="'views/searchBarProducts.html'"></div> -->
<div class="input-group card paddingLR10 card-outline-primary center">
        <span class="input-group-btn paddingLR10 glyphicon glyphicon-search whiteColor"></span>
    <input type="text" ng-model="searchProduct" class="form-control" placeholder="Search Products">
</div>

<div class="jumbotron">
<div class="row" ng-repeat="type in ['Cheapest Products for today', 'Recommended', 'Frequently bought']">
  <div class="center card card-outline-primary whiteColor"><strong><h4>{{type}}</h4></strong></div>
  
  <div class="col-md-4 top-buffer" ng-repeat="product in products | filter:searchProduct">      
    <a ng-href="#/products/1">
    <div class="card">
      <img class="card-image" src="images/yeoman.png" alt="Product">
      <div class="card-block">
        <span class="card-title"><h3>{{product.prodName}}</h3></span>
        <span class="card-text"><h4>${{product.ProdPrice}}</h4></span>
        <span class="card-text"><h4>{{product.prodType}}</h4></span>

	<a class="btn btn-primary btn-xs glyphicon glyphicon-shopping-cart"></a>
	<!-- ng-href="#/products/1" -->
      </div>
    </div>
    </a>
  </div>
</div>