<div class="container">
  <ul class="nav navbar-nav">
    <li><a class="navbar-toggler whiteColor" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">Categories</a>
      <div class="collapse" id="exCollapsingNavbar">
        <ul class="nav bg-inverse text-muted p-1 whiteColor">
          <li><a class="whiteColor" data-toggle="collapse" data-target="#exCollapsingNavbar" ng-href="#/">Electronics</a></li>
          <li><a class="whiteColor" data-toggle="collapse" data-target="#exCollapsingNavbar" ng-href="#/">Electronics</a></li>
          <li><a class="whiteColor" data-toggle="collapse" data-target="#exCollapsingNavbar" ng-href="#/">Electronics</a></li>
          <li><a class="whiteColor" data-toggle="collapse" data-target="#exCollapsingNavbar" ng-href="#/">Electronics</a></li>
        </ul>
      </div>
    </li>
    <li class="active"><a class="whiteColor" href="#/">Home</a></li>
    <li><a class="whiteColor" ng-href="#/customer-info">Account Information</a></li>
    <li><a class="whiteColor" ng-href="#/order-history">Order History</a></li>
    <li><a class="glyphicon glyphicon-shopping-cart whiteColor" ng-href="#/order-history"><span class="badge alert-info">24</span></a></li>
    <li><a class="whiteColor" ng-href="#/login">Logout</a></li>
  </ul>
</div>

