<div ng-controller="OrderPaymentCtrl">

<div class="center card card-outline-blue whiteColor"><strong><h3>Order Payment</h3></strong></div>

<div class="card custom-jumbotron">
<div class="title"><h4><strong>Order Summary</strong></h4></div>
	<p>Number of items: {{count}}</p>
	<p>Price: {{count * 94}}</p>
	<p>Shipping and handling: {{count * 94 * 0.15}}</p>
	<p>Estimated tax: {{count * 94 * 0.10}}</p>
	<p><strong>Order total: {{(count * 94 ) + (count * 94 * 0.15) + (count * 94 * 0.10)}}</strong></p>
	</div>

<div class="card custom-jumbotron">
<div class="title"><h4><strong>Shipping Address</strong></h4></div>
<address>
	<strong>{{ fName }} {{ lName }}</strong><br>
	{{ addressL1 }}<br>
	{{ city }}, {{ state }} {{ zip }}<br>
</address>
</div>

<div class="card custom-jumbotron">
<div class="title"><h4><strong>Payment Method</strong></h4></div>
	<!-- <div ng-repeat="card in paymentMethod">  -->
		<label>
		  <input type="radio">
		  	Card 1
		</label>
		<p>Card Name: {{paymentMethod.cardName}}</p>
		<p>Card: {{paymentMethod.cardNumber}}</p>
		<p>Validity: {{paymentMethod.cardMM}}/{{paymentMethod.cardYYYY}}</p>
		
	<!--  </div> -->			
</div>
</div>
<a class="btn btn-primary" href="#/main" ng-click="placeOrder()">Place order</a>