<div class="center card card-outline-blue whiteColor"><strong><h3>Order History</h3></strong></div>

  <div class="center card card-outline-primary whiteColor"><strong><h4>Order {{orderId}}</h4></strong></div>

  <div class="row custom-jumbotron" ng-repeat="item in cartItems">
  <div class="col-md-5 card">
    <!-- <div class="thumbnail">
      <img src="images/yeoman.png" class="img-responsive customHeight" alt="">
        <div class="caption">
          <h5>Thumbnail label</h5>
        </div>
    </div> -->
    <img class="customHeight150 center-block" src="images/yeoman.png" alt="Product">
  </div>

  <div class="col-md-5"><br>
    <p><strong>Product: {{ item.prodName }}</strong></p>
    <p><strong>Price: {{ item.ProdPrice }}</strong></p>
  </div>
    </div>
  <div class="center card"><strong><h4>Order total: {{ total }}</h4></strong></div>
    