<div class="center card card-outline-blue whiteColor"><strong><h3>{{productList.prodType}}</h3></strong></div>
<div class="input-group card paddingLR10 card-outline-primary center">
        <span class="input-group-btn paddingLR10 glyphicon glyphicon-search whiteColor"></span>
    <input type="text" ng-model="searchProductCategoryList" class="form-control" placeholder="Search Products">
</div>

<div class="jumbotron" ng-controller="NavSideMenuCtrl">  
  <div class="col-md-4 top-buffer" ng-repeat="product in productList | filter:searchProductCategoryList">      
    <a ng-href="#/products/1">
    <div class="card">
      <img class="card-image" src="images/yeoman.png" alt="Product">
      <div class="card-block">
        <span class="card-title"><h3>{{product.prodName}}</h3></span>
        <span class="card-text"><h4>${{product.ProdPrice}}</h4></span>
	<a class="btn btn-primary btn-xs glyphicon glyphicon-shopping-cart"></a>
	<!-- ng-href="#/products/1" -->
      </div>
    </div>
    </a>
  </div>
  </div>
