<div class="center card card-outline-blue whiteColor"><strong><h3>Product Details</h3></strong></div>

<!-- <ng-include src="'views/carousel.html'"> </ng-include> -->
<div class="card">

<div class="row">
    
    <div class="col-md-5">
        <img class="card-image customHeight250 center-block" src="images/yeoman.png" alt="Product">
    </div>

    <div class="col-md-5 pull-right">

      <h3><strong><div class="title">Product name: {{ name }}</div></strong></h3>
      <h4><strong><div class="title">Category: {{ category }}</div></strong></h4> 

      <h4><strong><div class="title">Price: ${{ price }}</div></strong></h4> 

      
    </div>
</div>


</div>