<div class="revert-container center card card-outline-blue whiteColor">
	<strong><h3>Login</h3></strong>
</div>

<div class="revert-container jumbotron">

      <form class="form" ng-submit="login()" accept-charset="UTF-8">
      
		<div class="form-group has-feedback">
			<div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				<input type="email" class="form-control" placeholder="Email" ng-model="signin.username" required/>
			</div>
		</div>


		<div class="form-group has-feedback">
			<div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
				<input type="password" class="form-control" placeholder="Password" ng-model="signin.password" required/>
			</div>
		</div>

	    <a class="btn btn-block btn-primary" type="submit" ng-click="login()" ng-class="{disabled: !signin.username || !signin.password}">Login</a>

		</form>


		<div class="text-right">
    		<a ng-href="#/forgotPassword">Forgot password?</a>
  		</div>


	    <p>
		    <h4>Haven't registered yet? 
			    <a id="btn-signup" ng-href="#/register" class="btn btn-primary">Sign up</a>
			</h4>
	    </p>

</div>